@import url("https://fonts.googleapis.com/css?family=Montserrat:wght@300;400;600&display=swap");
* {
  margin: 0;
  padding: 0;
}

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #585858;
  background-color: rgba(226, 226, 226, 0.859);
}

ul {
  list-style: none;
}

.container {
  max-width: 500px;
  width: 100%;
  margin: 10em auto;
  padding: 0 20px;
}

.file-upload {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 7em 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5em;
  background-color: hsl(235deg 100% 99%);
  box-shadow: rgba(107, 109, 120, 0.132) 0 25px 50px -12px;
  border-radius: 7px;
}

.file-upload input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
  z-index: 10;
}

.file-upload .icon {
  position: relative;
  margin-bottom: 5em;
}

.file-upload .icon ion-icon {
  font-size: 4em;
  color: rgba(248, 174, 0, 0.85);
  z-index: 1;
  position: relative;
}

.file-upload .icon::before,
.file-upload .icon::after {
  content: "";
  width: 56px;
  height: 56px;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 50%;
  border: 3px solid rgba(255, 221, 143, 0.85);
  background-color: hsla(235, 100%, 99%, 1);
  transform: scale(1.5);
  z-index: 1;
}

.file-upload .icon::after {
  border: 0;
  transform: scale(2.5);
  z-index: 0;
  background-color: rgba(255, 221, 143, 0.85);
}

.file-upload h3 {
  font-weight: 400;
  font-size: 1.5em;
  color: rgba(248, 174, 0, 0.85);
}

.file-upload button {
  border: 0;
  outline: none;
  border-radius: 50%;
  color: white;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-background: linear-gradient(135deg, rgba(255, 221, 143, 0.85) 0%, rgba(248, 174, 0, 0.85) 100%);
  background: linear-gradient(135deg, rgba(255, 221, 143, 0.85) 0%, rgba(248, 174, 0, 0.85) 100%);
  box-shadow: rgba(248, 174, 0, 0.5) 0 4px 18px;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.file-upload button ion-icon {
  font-size: 1.5em;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.file-upload:hover button {
  -webkit-transform: translateY(-10px);
  transform: translateY(-10px);
}

.list-upload {
  padding: 0 2em;
}

.list-upload ul li {
  position: relative;
  display: flex;
  margin: 3em 0;
  padding-right: 2em;
}

.list-upload .thumbnail {
  position: relative;
  width: 50px;
  height: 50px;
  margin-right: 20px;
  border-radius: 7px;
  background-color: hsla(235, 100%, 99%, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.list-upload .thumbnail > ion-icon {
  font-size: 2em;
  color: rgba(248, 174, 0, 0.85);
  display: none;
}

.file-list:where(.file, .application, .text) .thumbnail > [name="document-outline"],
.file-list.image .thumbnail > [name="image-outline"],
.file-list.video .thumbnail > [name="videocam-outline"],
.file-list.audio .thumbnail > [name="musical-notes-outline"] {
  display: block;
}

.list-upload .thumbnail .completed {
  position: absolute;
  top: 50%;
  right: -10px;
  margin-top: -10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #2ecc71;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.list-upload .properties {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  gap: 5px;
}

.list-upload .properties .title {
  word-break: break-word;
}

.list-upload .properties .size {
  font-size: 12px;
}

.list-upload .properties :where(.progress, .buffer) {
  position: relative;
  display: block;
  width: 100%;
  height: 4px;
  background-color: hsla(235, 100%, 99%, 1);
}

.list-upload .properties .buffer {
  width: 10%;
  -webkit-background: linear-gradient(90deg, #82f4b1 0%, #2ecc71 100%);
  background: linear-gradient(90deg, #82f4b1 0%, #2ecc71 100%);
}

.list-upload .properties .percentage {
  position: absolute;
  left: 0;
  top: 5px;
  font-size: 10px;
}

.list-upload .remove {
  position: absolute;
  right: 0;
  top: 50%;
  border: 0;
  outline: 0;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  border-radius: 50%;
  background-color: #ff6b81;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

.list-upload .remove:hover {
  background-color: #303030;
}
